@{
    Layout = "_Layout";
    ViewData["Title"] = "Chats";
}

<div class="headingConfig">
    <a class="anchorBorderNone" href="home.html"><i class="fa-solid fa-house"></i></a>

    <hr>

    <h1>Seus Chats</h1>
</div>

<main class="container my-5">
    <div class="config">
        <div class="aux">
            <a class="anchorBorderNone" href="profile.html"><img class="picture-user" src="~/img/dog.png" alt=""></a>
            <div class="subConfig tile">
                <a class="anchorBorderNone" href="chat.html"><span>03</span></a>
                <div class="">
                    <p>Dr. Benedito O.</p>
                </div>
            </div>
        </div>
        <div class="aux">
            <a class="anchorBorderNone" href="profile.html"><img class="picture-user" src="~/img/dog.png" alt=""></a>
            <div class="subConfig tile">
                <a class="anchorBorderNone" href="chat.html"><span>55</span></a>
                <div class="">
                    <p>Dr. Benedito O.</p>
                </div>
            </div>
        </div>
    </div>
</main>