//color palette
$primary-color: #2C3E50;
$secondary-color: #34495E;
$tertiary-color: #16A085;

//breakpoints
$smaller-screen: 280px;
$small-screen: 578px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;
$xx-large-screen: 1440px;
$xxx-large-screen: 2560px;