@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeliveryMental</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeliveryMental.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">DeliveryMental</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DeliveryMental - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>*@

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
    <script src="https://kit.fontawesome.com/bae5127ccf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/sass/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>

<body>

    @RenderBody();

    <script src="~/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://moment.github.io/luxon/global/luxon.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="~/js/reveal.js"></script>
    <script>
        const DateTime = luxon.DateTime;

        function updateTime() {
            let now = DateTime.now();
            let h = now.toFormat('T');
            let d = now.toFormat("ccc ', ' dd 'de' LLL", { locale: "pt" });

            const hour = document.getElementById('hora');
            const date = document.getElementById('data');

            hour.innerText = h;
            date.innerText = d;

            const comprimento = document.getElementById('comprimento');
            let mI = DateTime.fromISO("06:00").toFormat('T');
            let mF = DateTime.fromISO("13:00").toFormat('T');
            let tf = DateTime.fromISO("18:00").toFormat('T');

            if (now >= DateTime.fromISO(mI) && now < DateTime.fromISO(mF)) {
                comprimento.innerText = "Bom dia (nome)";
            } else if (now >= DateTime.fromISO(mF) && now < DateTime.fromISO(tf)) {
                comprimento.innerText = "Boa tarde (nome)";
            } else {
                comprimento.innerText = "Boa noite (nome)";
            }
        }

        updateTime(); // chama a função pela primeira vez para exibir a hora e data atuais

        setInterval(updateTime, 1000); // atualiza a hora e data a cada segundo
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>