@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}


<main class="container">

    <div class="wrapper">
        <div id="registerAnchor">
            <a class="anchorBorderNone" href="index.html"><i class="fa-solid fa-house"></i></a>
        </div>

        <div class="formWrapper">
            <form action="" method="POST">

                <div>
                    <img class="picture" src="~/img/dog.png" alt="">
                </div>

                <h1>Infomações de login</h1>

                <div class="">
                    <label for="exampleFormControlInput1" class="form-label">Seu Email</label>
                    <input type="email" required class="form-control" id="emailL" placeholder="">
                </div>
                <div class="">
                    <label for="exampleFormControlInput1" class="form-label">Sua senha</label>
                    <input type="password" required class="form-control" id="password">
                </div>

                <button id="btn-register" type="submit">Entrar</button>
            </form>
        </div>
    </div>


</main>