.headingConfig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.config {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.subConfig {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;

    background-color: $tertiary-color;
    color: $primary-color;

    border-radius: 15px;
    
    font-size: large;
}