.grid {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 30px;

    .card {
        background-color: $secondary-color;
        color: $tertiary-color;
    }
}

.proPagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 100px;

    i {
        cursor: pointer;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.nameRate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media (max-width: $smaller-screen) {

}

@media (max-width: $small-screen) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: $medium-screen) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: $large-screen) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: $extra-large-screen) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: $xx-large-screen) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: $xxx-large-screen) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}