@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}

<header class="mainHeader">

    <a class="anchorBorderNone" href="Home/Home"><img src="~/img/dog.png" alt=""></a>
    <h1>DeliveryMental</h1>
    <a href="login.html"><h2>Login</h2></a>
        
</header>

<main class="">

    <section id="about">
        <div class="container">
            <h1>Sobre</h1>

            <div>
                <img src="~/img/dog.png" alt="">
                <hr class="indexHr">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos similique praesentium earum
                    ab
                    quae amet consectetur reprehenderit, fugit ipsum, sint tempore cumque nulla impedit molestiae
                    error
                    tempora odit dolorum molestias.
                </p>
            </div>
        </div>
    </section>

    <section id="register">
        <h1>Cadastro</h1>
        <div class="container">

            <div class="align-bottom">
                <h2>Psico</h2>
                <p>Coisas legais</p>
                <a href="register.html">Registrar-se</a>
            </div>

            <div class="align-top">
                <h2>Pessoa</h2>
                <p>Coisas legais</p>
                <a href="register.html">Registrar-se</a>
            </div>

        </div>
    </section>

</main>

<footer class="d-flex justify-content-around">

    <div class="footerInfo">
        <p>Email: exampleEmail@gmail.com</p>
        <p>Telefone: +999 (99) 9999-9999</p>
    </div>
    <hr class="indexHr">
    <div class="imgFooter"></div>
</footer>
