@{
    Layout = "_Layout";
    ViewData["Title"] = "Configuration";
}

<div class="headingConfig">
    <a class="anchorBorderNone" href="home.html"><i class="fa-solid fa-house"></i></a>

    <hr>

    <h1>Configuraçoes</h1>
</div>

<main class="container my-5">
    <div class="config">
        <div class="subConfig tile">
            <a class="anchorBorderNone" href="proList.html"><i class="fa-solid fa-credit-card"></i></a>
            <p>Pagamento</p>
        </div>
        <div class="subConfig tile">
            <a class="anchorBorderNone" href="proList.html"><i class="fa-solid fa-lock"></i></a>
            <p>Privacidade</p>
        </div>
        <div class="subConfig tile">
            <a class="anchorBorderNone" href="proList.html"><i class="fa-solid fa-file-circle-exclamation"></i></a>
            <p>Termos de uso</p>
        </div>
    </div>
</main>