.dropdown-toggle::after {
    content: none;
}

.dropdown-item {
    border-radius: 4px;
    color: $tertiary-color;
    transition: .5s;
}

.dropdown-item:hover {
    background-color: $tertiary-color;
    color: $primary-color;
}

.btn-reset {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
}